.bg {
    padding: 0;
    margin: 0;
    /*background-color: #fff;*/
    width: 65%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 19vw;
    display: flex;
}

.text {
    position: absolute;
    top: 0;
    left: 10%;
    font-weight: 700;
    height: 70px;
    width: 90%;
    padding-top: 8px;
    color: #FFFFFF;
    background-color: #FE6E18;
    font-size: 28px;

}
.yajirushi {
    position: absolute;
    top: 0;
    padding-top: 10px;
    padding-left: 2vw;
    width: 10%;
    height: 70px;
    font-weight: 800;
    background-color: #FE6E18;
    color: #fff;
    font-size: 25px;
}
